# Coverage directory used by tools like istanbul
coverage

# Dependency directory
bower_components
node_modules
screenshots
npm-debug.log
debug.log

.idea
# Created by .ignore support plugin (hsz.mobi)

config.yml