# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out

# Test
test
coverage

# Lint
.eslintrc

# Git
.gitignore

# Travis
.travis.yml

# Scripts
scripts

# Node Modules
node_modules
.npmignore

npm-debug.log

esdoc