<section>
    <h1>Widgets</h1>
    <ul id="widgets">
    </ul>
    <button type="submit" id="show_modal">Add a new widget</button>
    <div class="modal" style="display: none">
        <form>
            <h2 id="description">Add Widget:</h2>
            <div class="field">
                <label for="widget_name">Name</label>
                <input id="widget_name" name="widget_name" type="text" autocorrect="off">
            </div>
            <div class="field">
                <label for="widget_description">Description</label>
                <input id="widget_description" name="widget_description" type="text" autocorrect="off">
            </div>
            <button type="submit" id="add_widget">Add</button>
            <button type="submit" id="cancel">Cancel</button>
        </form>
    </div>
</section>

<script src="../components/widgets.js"></script>