body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu {
    display: none;
    background: #ffffff;
    padding: 0.25em 0;
}

#menu.logged-in {
    display: inline-block;
}

#menu a, #menu a:visited {
    transition: all 0.25s ease-in;
    color: #6f6eff;
    background: #ffffff;
    padding: 0.25em 0.75em;
    text-decoration: none;
}

#menu a.selected, #menu a.selected:visited {
    background: #6f6eff;
    color: #ffffff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9rem;
    border-radius: 1rem;
    background: lemonchiffon;
    padding: 1rem;
}

form .field {
    padding: 0.5em 0;
}

form .field label {
    display: block;
}

form .field input {
    width: 100%;
}

form .error-message {
    background: #ff0000;
    color: #ffffff;
    margin: 0.25rem 0;
    border-radius: 0.25rem;
    padding: 0.25rem;
    transition:
            height 0.35s ease-in-out,
            padding 0.35s ease-in-out;
}

form .error-message:empty {
    height: 0;
    padding: 0;
}

li button {
    margin-left: 1em;
}